extends layouts/main
include mixins/videoBlock

block content
    .videos
        each video in videos
            +videoBlock({
                videoFile : video.fileUrl,
                title : video.title,
                views : video.views,
                id : video.id
            })
        